name: Create Release and Publish to PyPI

on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'

permissions:
  contents: write

jobs:
  build:
    uses: ./.github/workflows/python-uv-build.yml

  create-release:
    runs-on: ubuntu-latest
    needs: build
    environment: release

    steps:
      - name: Download distributions
        uses: actions/download-artifact@v4
        with:
          name: release-dists
          path: dist/

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          files: dist/*
          generate_release_notes: true
          draft: false
          prerelease: false
        env:
          GITHUB_TOKEN: ${{ secrets.PAT_TOKEN }}

  pypi-publish:
    runs-on: ubuntu-latest
    needs:
      - build
      - create-release

    permissions:
      id-token: write

    environment:
      name: release
      url: https://pypi.org/project/${{ github.event.repository.name }}/${{ github.ref_name }}

    steps:
      - name: Download distributions
        uses: actions/download-artifact@v4
        with:
          name: release-dists
          path: dist/

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir:  dist/
